body {
  background-color: #537fe7;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 15px;
  font-size: 24px;
}

.title {
  text-align: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
